.inline-input {

    display: inline-block;
    width: 75%;

}

.add-transaction-header {

    margin: 0;
    width: fit-content;
    display: inline-block;
    float: left;

}

.transaction-type {

    display: inline-block;
    float: right;
    margin: 0;

}