.btn-sm{
	padding: 3px 8px !important;
}
.action-icon{
	padding: 2px 6px !important;
}
.btn i{
	margin-right: 0px !important;
}
.invalid-select{
	display: block;
}

.select-with-border {

	border: 1px solid #aaa !important;

}

.add_customized_red_error {
	color: #dc3545; 
	font-size: 80%;
}

.trail-balance-table {
	width: 60%;
	margin: 0 auto;
}